@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

$font-family:'Poppins', sans-serif;

$fondos-2:#082032;
$fondo-destino:#0D1E2B;
$footer:#020E1D;
$success:#FF4C29;
$fondo-reloj:#313747;
$titulos:#ECECEC;
$texto:white;
$color-circulo:#3B90FF;
@import '/node_modules/bootstrap/scss/bootstrap';
