@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
// asigna la tipografía por defecto
$font-family-sans-serif: "PT Sans", sans-serif;
// modifica los colores por defecto
$green: #41b883;
$rojo: #ce679b;
$primary: #FF4C29;
$blanco: white;
$background1:#082032;
.btn{
    border-radius: 1.5rem;
    padding: 0.8rem;
    width: 30%;
    box-shadow: 0 10px 25px #FF4C29;
    color: $blanco;
}

.circulo-pequeño{
    width: 3rem;
    height: 3rem;
    background: $primary;
    border-radius: 50%;
    position: absolute;
    left: 54rem;
    z-index: 20;
    top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
